*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0;
}

header{
    background-image: linear-gradient(to right, rgba(79, 172, 254, 0.4) 0%, rgba(0, 242, 254, 0.4) 100%), url(../Images/Laptop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

.head{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    text-align: center;
}

.menu{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
    height: 40px;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 40px;
}

.menu-navegacion{
    background-image: linear-gradient(120deg, rgb(137, 247, 254) 0%, rgb(102, 166, 255) 100%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    width: 30vw;
    z-index: 200;
}

.spread{
    transform: translate(0);
}

.menu-navegacion-link{
    color: #fff;
    text-decoration: none;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}

/*Nuestro Servicio*/

.subtitulo{
    color: #4facfe;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio-img{
    width: 40%;
}

.checklist-servicio{
    width: 60%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    color: #4facfe;
    margin-bottom: 7px;
}

.number{
    display: inline-block;
    background-image: linear-gradient(to right, rgb(79, 172, 254, 0.4) 0%, rgb(0, 242, 254, 0.4) 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

.gallery{
    background: #f2f2f2;
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.img-galeria{
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
    display: block;
    margin-bottom: 15px;
    object-fit: cover;
    opacity: 0.9;
    transition: transform 0.5s, opacity 0.5s;
    width: 30%;
}

.img-galeria:hover{
    opacity: 1;
    transform: scale(1.03);
}

.clearfix{
    zoom: 1;
}

.clearfix::after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*Hasta acá*/

.imagen-light{
    position: fixed;
    background: rgba(0, 0,0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showimage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.experts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-experts{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-experts img{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.n-experts{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

/*Footer*/

footer{
    background: #9f8ad0;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.contact-us p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon.face:hover{
    background: #fff;
    color: #3b5998;
}

.social-media-icon.twitter:hover{
    background: #fff;
    color:  #00acee;
}

.social-media-icon.instagram:hover{
    background: #fff;
    color: #bc2a8d;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

@media screen and (max-width: 800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }

    .checklist-servicio{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }

    .agregar-imagen{
        width: 80%;
    }

    .img-galeria{
        width: 45%;
    }

    .cont-experts{
        width: 80%;
    }

    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media i{
        margin-left: 0;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 500px){
    .menu-navegacion{
        width: 65vw;
    }

    .menu{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }

    .agregar-imagen{
        width: 95%;
    }

    .img-galeria{
        width: 95%;
    }

    .social-media{
        width: 100%;
    }

    .contact-us{
        width: 90%;
    }
}